<br>
<hr>
<footer>
    <div class="footer-div">
        <br>
        <div class="social">
            <a href="#"><i class=" social-icon fa-brands fa-square-facebook"></i></a>
            <a href="https://twitter.com/SJT_08"><i class=" social-icon fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class=" social-icon fa-brands fa-square-instagram"></i></a>
           </div>
           <div class="about">
                <p class="footer-option"><a href="/listings">&copy;WanderLust</a> . <a href="/privacy">privacy</a> . <a href="/terms">terms</a></p>
           </div>
    </div>
</footer>