body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-location-arrow{
    color: #fe424d !important;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem !important;
    /* margin-left: 2rem !important; */
    
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
} 
.listing-link{
     text-decoration: none !important; 
     padding: 0 !important;
     width: 325px !important;
}
.row{
    display: flex !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe424d;
    border: none;
}
.edit-btn{
    background-color: #fe424d;
    border: none;
}