<% layout('/layouts/boilerplate.ejs')-%>
<div class="container-fluid col-lg-6 col-sm-8 col-10">
    <h3>Terms of Service</h3>
    <p>Thank you for choosing Wanderlust! These Terms govern your use of the Wanderlust platform, including the website, applications, and any other services offered by Wanderlust (collectively, the "Wanderlust Platform"). Wanderlust provides an online platform connecting users ("Members") to discover, book, and engage in various travel-related services and experiences. Explorers offer accommodations ("Lodgings"), activities, tours, and other experiences ("Explorations"). Adventurers seeking, booking, or using services must review Listings thoroughly and communicate directly with Explorers. Wanderlust does not own or manage Listings and is not a party to agreements between Members. Privacy is crucial; review our Privacy Policy. For dispute resolution, communication is encouraged; the European Commission's online dispute resolution platform may be accessible for EEA Adventurers. An arbitration agreement and class action waiver may apply to certain claims against Wanderlust. We reserve the right to modify these Terms. Contact us for questions or concerns. Thank you for being part of Wanderlust; safe travels and memorable experiences await!
    </p>
     
</div>