<% layout('/layouts/boilerplate') -%>
<div class="container-fluid col-lg-6 col-sm-8 col-10">
<div class="row mt-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input class="form-control" name = "username" type = "text" id="username" required>
                <div class="valid-feedback">
                  Looks Good
               </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input class="form-control" name = "password" type = "password" id="password" required>
            </div>
            <button class="btn btn-success">Login</button>
            </form>
</div>
</div>